<p>me works!</p>
<div class="user" *ngIf="authService.getIsAuthenticated()">
  <p>Welcome</p>
  <p>{{ authService.clientPrincipal?.userDetails }}</p>
  <p>{{ authService.clientPrincipal?.identityProvider }}</p>

  <ul>
    <ng-container *ngFor="let userRole of authService.clientPrincipal?.userRoles">
      <li>{{ userRole }}</li>
    </ng-container>
  </ul>
</div>
<ng-container *ngIf="authService.getIsAuthorized(); else notAuthorized">
  <p>Authorized! 😃</p>
</ng-container>
<ng-template #notAuthorized>
  <p>Not Authorized 😢</p>
</ng-template>